
src/__pycache__/*

**/trunk

**/*.py[cod]
*.egg-info
*.egg
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.log
*.coverage
*.coverage.*
*.pyo
*.pyd
*.db
*.sqlite
*.DS_Store
*.env
*.env.*
*.venv
*.venv.*
*.pytest_cache
*.mypy_cache
